<nav class="navbar navbar-expand-sm" fixed-top>
  <ul class="navbar-nav">
    <a class="nav-link navBrand" href="#">
      <i class="fab fa-asymmetrik"></i>
      AEc
    </a>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin">back </a>
    </li>
  </ul>
</nav>


<!-- <input type="text" class= "col-3" id="status" [(ngModel)]="status" placeholder="status" name="status"> -->
<div class="form-group cSpacing">
  <label for="status" class="label"><h3> Status : </h3></label>
  <select id="status" name="status" [(ngModel)]="status">
    <option value="open">Open</option>
    <option value="close">Close</option>
  </select>
  <button class="btn btn-grad" type="submit" (click)="getComplaints()">
    Get Complaints
  </button>
</div>

<div [style.display]="status ? 'block' : 'none'">
  <h6>Showing results of complaints with Status {{status}}</h6>
  <table class="table table-stiped table-striped  thead-dark">
    <tr>
      <th >Complaint Id</th>
      <th >productModel Number</th>
      <th >Complaint Name</th>
      <th >Complaint Date</th>
      <th >Status</th>
    </tr>
    <tr *ngFor="let complaint of complaints" >
      <td>{{ complaint.complaintId }}</td>
      <td>{{ complaint.productModelNumber }}</td>
      <td>{{ complaint.complaintName }}</td>
      <td>{{ complaint.status }}</td>
      <td>{{ complaint.complaintDate | date }}</td>
    </tr>
  </table>
</div>