.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.font {
  font-family: "Hind", sans-serif;
  font-size: 140px;
  font-weight: 1000;
  color: white;
}
.centered-l {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered:hover {
  font-size: 153px;
}
.centered-l:hover {
  font-size: 155px;
}
.align {
  text-align: center;
  font-family: "Hind", sans-serif;
  color: white;
  font-weight: 600;
  background-color: #0a043c;
  padding: 5px 0;
}
