<nav class="navbar navbar-expand-sm" fixed-top>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link">
        <i class="fab fa-asymmetrik"></i>
        AEc
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/engineer/engComplaints/{{ id }}"
        >MyComplaints</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/"><i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</nav>

<!-- engineer logged and view page -->
<img src="assets/images/eng1.jpg" width="100%" height="80%" alt="eng" />
<div class="centered font">Delivering</div>
<div class="centered-l font">Excellence</div>

<footer>
  <div class="container-fluid align">
    <p>© Copyrights Reserved 2021 ABC ELECTRONICS</p>
  </div>
</footer>
