<!-- Nav Bar  to navigate to home: Admin -->
<nav class="navbar navbar-expand-sm" fixed-top>
  <ul class="navbar-nav">
    <a class="nav-link navBrand" routerLink="/client">
      <i class="fab fa-asymmetrik"></i>
      AEc
    </a>
  </ul>
</nav>

<div class="spacing">
  <h1>Delete Engineer ?</h1>
  <button class="btn btn-sm btn-danger btn-grad" (click)="deleteEngineer()">
    Yes
  </button>
  <button
    class="btn btn-sm btn-warning btn-grad1"
    (click)="dontDeleteEngineer()"
  >
    No!
  </button>
  <h1>{{ message }}</h1>
</div>
