<nav class="navbar navbar-expand-sm" fixed-top>
  <ul class="navbar-nav ml-auto">
    <a class="nav-link navBrand" href="#">
      <i class="fab fa-asymmetrik"></i>
      AEc
    </a>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/viewComplaint"
        >View Complaints by Status</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/listOfEngineer">Engineers</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/listOfAllcomplaints">Complaints</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/"><i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</nav>

<div class="float-container">
  <div class="float-child">
    <div class="green">
      <h1>Hello Admin welcome to complaints portal.</h1>
      <br />
      <br />
      <h4>Have a great day!!</h4>
      <br />
      <br />
      <button class="btn btn-grad" routerLink="/admin/listOfAllcomplaints">
        Complaints
      </button>
    </div>
  </div>

  <div class="float-child2">
    <div class="blue">
      <img src="assets/images/main.jpg" alt="" />
    </div>
  </div>
</div>
