<nav class="navbar navbar-expand-sm " fixed-top >
    <ul class="navbar-nav" >
        <a class="nav-link navBrand" href="#">
            <i class="fab fa-asymmetrik"></i> 
            AEc
          </a>

            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/viewComplaint">View Complaints by Status</a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/listOfEngineer">Engineers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/listOfAllcomplaints">Complaints</a>
            </li>
    </ul>
  </nav>

