<!-- Nav bar to route back home -->
<nav class="navbar navbar-expand-sm" fixed-top>
  <ul class="navbar-nav">
    <a class="nav-link navBrand" routerLink="/client">
      <i class="fab fa-asymmetrik"></i>
      AEc
    </a>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin"
        ><i class="fas fa-arrow-circle-left"></i
      ></a>
    </li>
  </ul>
</nav>

<table class="table table-stiped table-striped">
  <thead>
    <tr>
      <th class="font">Complaint Id</th>
      <th class="font">Model Number</th>
      <th class="font">Complaint Name</th>
      <th class="font">Status</th>
      <th class="font">Registered Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let complaint of complaints">
      <td class="font">{{ complaint.complaintId }}</td>
      <td class="font">{{ complaint.productModelNumber }}</td>
      <td class="font">{{ complaint.complaintName }}</td>
      <td class="font">{{ complaint.status }}</td>
      <td class="font">{{ complaint.complaintDate | date }}</td>
    </tr>
  </tbody>
</table>
