<!-- nav Bar routing to home : Client -->
<nav class="navbar navbar-expand-sm " fixed-top>
    <ul class="navbar-nav">

        <a class="nav-link navBrand" routerLink="/client">
            <i class="fab fa-asymmetrik"></i> 
            AEc
          </a>

    </ul>
</nav>

<!-- Register client Code -->
<h1 class="styling">Register Client</h1>
<div class="col-5 align">
    <form #addProduct="ngForm" (ngSubmit)="onSubmit()" class="styling">

        <div class="form-group">
            <!-- <label>Address</label> -->
            <label for="name">Address<span class="required">*</span></label>
            <input aria-describedby="required-description" type="text" type="text" class="form-control" id="address" [(ngModel)]="client.address" name="address"
             #address="ngModel" required>
        </div>
        <div class="col-10" *ngIf="clientError?.address">
            <span class="text text-danger">{{clientError.address}}</span>
          </div><br>

        <div class="form-group">
            <!-- <label>Password</label> -->
            <label for="name">Password<span class="required">*</span></label>
            <input aria-describedby="required-description" type="text" type="password" class="form-control" id="password" [(ngModel)]="client.password" name="password" required>
        </div>
        <div class="col-10" *ngIf="clientError?.password">
            <span class="text text-danger">{{clientError.password}}</span>
          </div><br>

        <div class="form-group">
            <!-- <label>Phone Number</label> -->
            <label for="name">Phone Number<span class="required">*</span></label>
            <input aria-describedby="required-description" type="text" type="text" class="form-control" id="phoneNumber" [(ngModel)]="client.phoneNumber"
                name="phoneNumber" required>
        </div>
        <div class="col-10" *ngIf="clientError?.phoneNumber">
            <span class="text text-danger">{{clientError.phoneNumber}}</span>
          </div><br>
        <br>
        <div>
            <!-- <button [disabled]="addProduct.invalid" class="btn btn-success" type="submit">Register</button> -->
            <button class="btn btn-success" type="submit">Register</button>
        </div>

    </form>
</div>

<!-- <h1>Product</h1>

<div class="form-group">
    <label>Product Name</label>
    <input type="text" class="form-control" id="productName" [(ngModel)]="product.productName" name="productName">
</div>

<div class="form-group">
    <label>Model Number</label>
    <input type="text" class="form-control" id="modelNumber" [(ngModel)]="product.modelNumber" name="modelNumber">
</div> -->

<!-- <div class="form-group cSpacing">
    <label>Category Name </label> &nbsp; &nbsp; &nbsp;
    <select name="productCategoryName" id="productCategoryName" [(ngModel)]="product.productCategoryName">
    <option value="none"  disabled hidden></option>
    <option value="Air Conditioner">Air Conditioner</option>
    <option value="Washing Machine">Washing Machine</option>
    <option value="mobile">Mobile</option>
    <option value="Television">Television</option>
    </select>
</div> -->

<!-- <div class="form-group">
    <label>Warrenty Date</label>
    <input type="date" class="form-control" id="dop" ngModel name="dop">
</div> -->

<!-- <div class="form-group ">
    <label>Warranty Years</label>
    <input type="number" class="form-control" id="warrantyYears" [(ngModel)]="product.warrantyYears" name="warrantyYears">
</div>

<div class="form-group">
    <label>Date of Purchase</label>
    <input type="date" class="form-control" id="dateofPurchase" [(ngModel)]="product.dateofPurchase" name="dateofPurchase">
</div> -->
<!-- 
    ------------------------------------------
 -->

 <!-- <h1>Complaint</h1> -->
<!-- 
 complaintId: number = 0;
 productModelNumber: String = "";
 complaintName: String = "";
 status: String = "";
 complaintDate: number = Date.now();
} -->

        <!-- <div class="form-group">
            <label>Complaint Name</label>
            <input type="text" class="form-control" id="complaintName" [(ngModel)]="complaint.complaintName" name="complaintName">
        </div>

        <div class="form-group">
            <label>Product Model Number</label>
            <input type="text" class="form-control" id="productModelNumber" [(ngModel)]="complaint.productModelNumber" name="productModelNumber">
        </div>

        <div class="form-group cSpacing">
            <label> Status</label> &nbsp; &nbsp; &nbsp;
            <select name="status" id="status" [(ngModel)]="complaint.status">
            <option value="open">Open</option>
            </select>
        </div>

        <div hidden class="form-group">
            <label>Date of Purchase</label>
            <input type="date" class="form-control" id="complaintDate" [(ngModel)]="complaint.complaintDate" name="complaintDate">
        </div> -->


       