<!-- nav bar -->
<nav class="navbar navbar-expand-sm" fixed-top>
  <ul class="navbar-nav">
    <li class="nav-item">
      <h1 hidden>{{ client.clientId }}</h1>
      <a
        class="nav-link"
        [routerLink]="['/client/product/addProduct', clientId]"
        >Add a Product</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/client/logged/{{ client.clientId }}"
        ><i class="fas fa-arrow-circle-left"></i
      ></a>
    </li>
  </ul>
</nav>
<!-- Product and its funcitioanlity -->

<table class="table table-striped table-stiped">
  <thead>
    <tr>
      <th class="font">Client Id</th>
      <th class="font">Model Number</th>
      <th class="font">Product Name</th>
      <th class="font">Warranty Years</th>
      <th class="font">Date of Purchase</th>
      <th class="font">View / Update / Delete / Add Complaint</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productResponse">
      <td class="font">{{ product.clientId }}</td>
      <td hidden>{{ product.productId }}</td>
      <td class="font">{{ product.modelNumber }}</td>
      <td class="font">{{ product.productName }}</td>
      <td class="font">{{ product.warrantyYears }}</td>
      <td class="font">{{ product.dateofPurchase | date }}</td>
      <td>
        <h1 hidden>{{ product.productId }}</h1>
        <h1 hidden>{{ product.modelNumber }}</h1>
        <h1 hidden>{{ client.clientId }}</h1>
        <button
          type="button"
          class="btn btn-grad four btn-sm"
          (click)="viewProduct(product.productId)"
          routerLink="/client/product/viewProduct"
        >
          View Product</button
        >&nbsp;
        <button
          type="button"
          class="btn btn-grad three btn-sm"
          (click)="UpdateProduct(product.productId, client.clientId)"
          routerLink="/client/product/UpdateProduct/:productId"
        >
          Update Product
        </button>
        &nbsp;
        <button
          type="button"
          class="btn btn-grad two btn-sm"
          (click)="deleteProduct(product.productId, client.clientId)"
          routerLink="/client/product/deleteProduct"
        >
          Delete Product</button
        >&nbsp;
        <button
          type="button"
          class="btn btn-grad one btn-sm"
          (click)="
            bookComplaint(
              product.productId,
              client.clientId,
              product.modelNumber
            )
          "
        >
          Add Complaint
        </button>
        <!-- routerLink = "/client/product/bookComplaint/" -->
      </td>
    </tr>
  </tbody>
</table>
