<!-- Nav Bar  -->
<div class="block">
  <nav class="navbar navbar-expand-sm">
    <a class="nav-link navBrand">
      <i class="fab fa-asymmetrik"></i>
      AEc
    </a>
    <ul class="navbar-nav">
      <li nav-link>
        <a class="nav-link" routerLink="/admin/login">Admin</a>
      </li>
      <li nav-link>
        <a class="nav-link" routerLink="/engineer/login">Engineer</a>
      </li>
      <li nav-link>
        <a class="nav-link" routerLink="/client/login">Client</a>
      </li>
    </ul>
  </nav>

  <marquee style="font-weight: bold">
    ABC ELECTRONICS COMPLAINTS PORTAL
  </marquee>
</div>
<div class="image-1">
  <img src="assets/images/img-main.jpg" alt="homepage" />
</div>

<!-- footer code -->
<footer>
  <div class="container-fluid align">
    <p>© Copyrights Reserved 2021 ABC ELECTRONICS</p>
  </div>
</footer>
