<nav
  class="navbar navbar-expand-sm"
  fixed-top
>
  <ul class="navbar-nav">
    <a class=" nav-link navBrand" >
      <i class="fab fa-asymmetrik"></i> 
      AEc
    </a>
    <li class="nav-item">
      <a class="nav-link" routerLink="/"><i class="fas fa-home"></i></a>
    </li>
  </ul>
</nav>

<section>
<div class="container-fluid centerAllign">

    <div class=row>
        <div  >
            <div class="forms">
                <form class="="form-container #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                    <div class="form-group">
                        <label class="text-label">Phone Number</label>
                        <input type="text" #email class="form-control" id="phoneNumber" ngModel name="phoneNumber" required>
                    </div>
                    <br>
                    
                    <div class="form-group">
                        <label class="text-label">Password</label>
                        <input type="password" #password class="form-control" id="password" ngModel name="password" required>
                    </div>
                    <br>
                     <button [disabled]="loginForm.invalid" class="btn btn-success btn-lg" type="submit">Login</button>
                    <!-- <button class="btn btn-success" type="submit">Login</button> -->
                </form>
                
            </div>
        </div>
    </div>
</div>
</section>