<nav class="navbar navbar-expand-sm " fixed-top>
    <ul class="navbar-nav">

        <a class="nav-link navBrand" routerLink="/client">
            <i class="fab fa-asymmetrik"></i> 
            AEc
          </a>

    </ul>
</nav>

<h1 class="styling">Update Domain</h1>
<div class="col-3">
    <form  (ngSubmit)="onSubmit()" class="styling">
       
        <div class="form-group cSpacing">
            <label>Domain </label> &nbsp; &nbsp; &nbsp;
            <select [(ngModel)]="engineer.domain" id="domain" name="domain">
            <option value="none"  disabled hidden></option>
            <option value="Air Conditioner">Air Conditioner</option>
            <option value="Washing Machine">Washing Machine</option>
            <option value="Mobile">Mobile</option>
            <option value="Television">Television</option>
            </select>
        </div>
        <!-- <div class="form-group">
            <label>Domain</label>
            <input type="text" class="form-control" id="domain" [(ngModel)]="engineer.domain"name="domain">
        </div> -->

        <br>
        <div>
            <button class="btn btn-success" type="submit">Update Engineer</button>
        </div>

    </form>
</div>
